<div class="container">
  <div class="content-container">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
    <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
    <g><path d="M971.6,363.2l18.4-8V167.4H10v187.8l18.4,8c54.4,23.8,89.6,77.4,89.6,136.7c0,59.3-35.2,113-89.6,136.8l-18.4,8v187.8h980V644.8l-18.4-8c-54.4-23.8-89.6-77.4-89.6-136.8C881.9,440.6,917.2,387,971.6,363.2z M928.6,316.1c-66.2,36.9-108,107.1-108,183.9s41.8,147,108,184v87.3H320.8v-14.3h-61.4v14.3h-188v-87.3c66.2-37,108-107.1,108-184c0-76.9-41.8-147-108-183.9v-87.4h188v14.3h61.4v-14.3h607.8V316.1z"/><path d="M179.4,500c0,76.8-41.8,147-108,184C137.7,647,179.4,576.9,179.4,500z"/><path d="M820.6,500c0-76.8,41.8-147,108-184C862.3,353,820.6,423.1,820.6,500z"/><path d="M259.4,338.1h61.4v0.1L259.4,338.1L259.4,338.1L259.4,338.1z"/><path d="M71.4,316.1c66.2,36.9,108,107.1,108,183.9C179.4,423.1,137.7,353,71.4,316.1z"/><path d="M928.6,683.9c-66.2-37-108-107.1-108-184C820.6,576.9,862.3,647,928.6,683.9z"/><path d="M259.4,376.3h61.4v57.1h-61.4V376.3L259.4,376.3z"/><path d="M259.4,281.2h61.4v57h-61.4V281.2L259.4,281.2z"/><path d="M259.4,281h61.4v0.1L259.4,281L259.4,281L259.4,281z"/><path d="M259.4,471.4h61.4v57.1h-61.4V471.4L259.4,471.4z"/><path d="M259.4,566.7h61.4v57.1h-61.4V566.7L259.4,566.7z"/><path d="M259.4,661.8h61.4v57.1h-61.4V661.8L259.4,661.8z"/><path d="M460.1,324.7h267.8v61.4H460.1V324.7z"/><path d="M460.1,458.8h267.8v61.4H460.1V458.8z"/><path d="M460.1,592.9h267.8v61.4H460.1V592.9z"/></g>
    </svg>
    <p>Let's create some coupons and will share to your special customers</p>
    {{#link-to "coupon/new"}}<button type="button" name="button" class="btn-secondary">+ New</button>{{/link-to}}
  </div>
</div>
