
body, h2 {
  font-family: 'Oswald', sans-serif !important;
}

.nav .container {
  padding: 50px 0;
}

.nav {
  background: #4c4af1;
  color: #fff;
}

form {
  margin: 100px 0 50px;
}

.btn {
  margin: 5px;
}
.btn.btn-light {
  border: 1px solid #bfbfbf;
}

.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px 30px;
}

.content-container svg {
  width: 100px;
  padding-bottom: 20px;
  fill: #6b757c
}

.content-container p {
  padding: 0px 350px;
  text-align: center;
}

.content-container button {
  padding: 5px 20px;
  margin-top: 50px;
}
